body {
    margin:0;
    color:#edf3ff;
    background:#c8c8c8;
    /*background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;*/
    background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;
}
:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
    width: 100%;
    margin:auto;
    max-width:510px;
    min-height:510px;
    position:relative;
    background:url(https://maxcdn.icons8.com/app/uploads/2016/03/material-1-1000x563.jpg) no-repeat center;
    background-size: cover;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(0,0,0,0.5);
}
.login-html .sign-in-htm,
.login-html .for-pwd-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .for-pwd,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    /*font-size:22px;*/
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .for-pwd:checked + .tab{
    color:#fff;
    border-color:#1161ee;
}
.login-form{
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
    perspective:1000px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#1161ee;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    -webkit-transition:all .2s ease-in-out 0s;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    -webkit-transform:scale(0) rotate(0);
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    -webkit-transform:scale(0) rotate(0);
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    -webkit-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    -webkit-transform:scale(1) rotate(-45deg);
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{
    -webkit-transform:rotate(0);
    transform:rotate(0);
}
.login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{
    -webkit-transform:rotate(0);
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}



.header {
    width: 100vw;
    height: 60px;
    position: fixed;
    z-index: 4;
    background:  #2c3034;
    display: flex;
}

.header > h1 {
    position: relative;
    font-family: "Baskerville Old Face";
    /*font-weight: bold;*/
    color: white;
    font-size: 28px;
    top: 12px;
    left: 50px;
}

.header > div {
    position: fixed;
    top: 12px;
    left: 6px;
}

.header > div > img {
    width: 35px;
}

aside {
    color: #fff;
    width: 250px;
    padding-left: 33px;
    height: 100vh;
    background-image: linear-gradient(to bottom , #249876, #249876);
    border-top-right-radius: 80px;
    position: fixed;
    top: 63px;
    font-family: Quicksand;
    transition: 0.5s;
    left: -200px;
    text-decoration: none;
    cursor: pointer;
}

.side-panel-top-admin {
    color: #fff;
    height: 100vh;
    width: 50px;
    background-image: linear-gradient(to bottom , #249876,#249876);
    position: fixed;
    left: 0;
    z-index: 3;
    top: 63px;
    border-top-right-radius: 50px;
}

.side-panel-top-admin:hover + aside {
    left: 0;
    transition: 0.5s;
}

aside:hover{
    left: 0;
    transition: 0.5s;
}



.dash-png{
    width: 35px;
    /* background: white; */
    position: absolute;
    top: 123px;
    left: 8px;
}

.car-png{
    width: 40px;
    /* background: white; */
    position: absolute;
    top: 171px;
    left: 6px;
}
.customer-png{
    width: 34px;
    /* background: white; */
    position: absolute;
    top: 223px;
    left: 8px;
}

.rental-png{
    width: 40px;
    /* background: white; */
    position: absolute;
    top: 270px;
    left: 5px;
}
.Income-png{
    width: 43px;
    /* background: white; */
    position: absolute;
    top: 320px;
    left: 3px;
}


aside a {
    font-size: 18px;
    color: white;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
    cursor: pointer;
}
aside a:link{
    text-decoration: none;
}

aside a:hover {
    color: #3f5efb;
    background: #d4acac;
    outline: none;
    position: relative;
    background-color: #d4acac;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

aside a i {
    margin-right: 15px;
    /*margin-left: 10px;*/
}

aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0px;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 15px 0 0 #fff;
    cursor: pointer;
}

aside a:hover::before {
    /*content: "";*/
    position: absolute;
    background-color: transparent;
    top: 51px;
    right: 0px;
    height: 35px;
    width: 35px;
    border-top-right-radius: 20px;
    box-shadow: 0 -15px 0 0 #fff;
    cursor: pointer;
}

aside p {
    font-family: Quicksand;
    font-size: 38px;
    margin: 27px;
    padding: 2px 0;
}

.main-dashboard-container{
    width: 1650px;
    height: 840px;
    background: white;
    position: absolute;
    top: 64px;
    left: 108px;
    z-index: -1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////Dashboard/////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.dashboard-users{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background: #249876;
    position: absolute;
    top: 35px;
    left: 308px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-bookings{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background: #249876;
    position: absolute;
    top: 35px;
    left: 710px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-active-bookings{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background: #249876;
    position: absolute;
    top: 35px;
    left: 1113px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-available-cars{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background: #249876;
    position: absolute;
    top: 235px;
    left: 308px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-reserved-cars{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background: #249876;
    position: absolute;
    top: 235px;
    left: 710px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-maintain-cars{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background: #249876;
    position: absolute;
    top: 235px;
    left: 1113px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-available-drivers{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background:#249876;
    position: absolute;
    top: 435px;
    left: 308px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-reserved-drivers{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background: #249876;
    position: absolute;
    top: 435px;
    left: 710px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-under-maintainance-cars{
    width: 229px;
    height: 167px;
    border-radius: 40px;
    background: #249876;
    position: absolute;
    top: 435px;
    left: 1113px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.dashboard-users>div>img{
    width: 73px;
    position: absolute;
    top: 15px;
    left: 75px;
}

.dashboard-users>h1{
    position: absolute;
    top: 65px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-users>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 115px;
    left: 34px;
}

.dashboard-bookings>div>img{
    width: 73px;
    position: absolute;
    top: 15px;
    left: 75px;
}

.dashboard-bookings>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-bookings>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 85px;
    left: 45px;
}

.dashboard-active-bookings>div>img{
    width: 73px;
    position: absolute;
    top: 15px;
    left: 75px;
}

.dashboard-active-bookings>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-active-bookings>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 85px;
    left: 43px;
}

.dashboard-available-cars>div>img{
    width: 73px;
    position: absolute;
    top: 15px;
    left: 75px;
}

.dashboard-available-cars>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-available-cars>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 105px;
    left: 44px;
}

.dashboard-reserved-cars>div>img{
    width: 73px;
    position: absolute;
    top: 15px;
    left: 75px;
}

.dashboard-reserved-cars>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-reserved-cars>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 105px;
    left: 47px;
}

.dashboard-maintain-cars>div>img{
    width: 73px;
    position: absolute;
    top: 15px;
    left: 75px;
}

.dashboard-maintain-cars>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-maintain-cars>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 100px;
    left: 31px;
}

.dashboard-available-drivers>div>img{
    width: 73px;
    position: absolute;
    top: 15px;
    left: 75px;
}

.dashboard-available-drivers>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-available-drivers>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 105px;
    left: 34px;
}

.dashboard-reserved-drivers>div>img{
    width: 73px;
    position: absolute;
    top: 15px;
    left: 75px;
}

.dashboard-reserved-drivers>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-reserved-drivers>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 105px;
    left: 34px;
}

.dashboard-under-maintainance-cars>div>img{
    width: 73px;
    position: absolute;
    top: 5px;
    left: 75px;
}

.dashboard-under-maintainance-cars>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.dashboard-under-maintainance-cars>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 102px;
    left: 23px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// MANAGE CARS /////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.manage-cars-option-footer {
    width: 1185px;
    background-color: gainsboro;
    height: 100px;
    position: absolute;
    right: -30px;
    top: 11px;
    left: 22px;
    margin: auto;
    border-radius: 4px;
    z-index: 0;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);

}

.btnaddCar{
    width: 148px;
    height: 63px;
    border: none;
    color: white;
    background-color:#249876;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #313131;
    transition: ease-out 0.3s;
    font-size: 19px;
    font-family: Quicksand;
    /* font-weight: bold; */
    outline: none;
    position: absolute;
    top: 9px;
    left: 7px;
}

.btnaddCar:hover{
    box-shadow: inset 150px 0 0 0 #313131;
    cursor: pointer;
    color:#249876;
}

.btnviewCars{
    width: 148px;
    height: 63px;
    border: none;
    color: white;
    background-color:#249876;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #313131;
    transition: ease-out 0.3s;
    font-size: 19px;
    font-family: Quicksand;
    /* font-weight: bold; */
    outline: none;
    position: absolute;
    top: 9px;
    left: 175px;
}

.btnviewCars:hover{
    box-shadow: inset 150px 0 0 0 #313131;
    cursor: pointer;
    color:#249876;
}

.btneditCar{
    width: 148px;
    height: 63px;
    border: none;
    color: white;
    background-color:#249876;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #313131;
    transition: ease-out 0.3s;
    font-size: 19px;
    font-family: Quicksand;
    /* font-weight: bold; */
    outline: none;
    position: absolute;
    top: 9px;
    left: 344px;
}

.btneditCar:hover{
    box-shadow: inset 150px 0 0 0 #313131;
    cursor: pointer;
    color:#249876;
}

.manage-cars-option-container {
    width: 1200px;
    height: 450px;
    position: absolute;
    right: 0px;
    top: 142px;
    left: 0;
    margin: auto;
    border-radius: 4px;
}

/*////////////////////////////////Add-Car/////////////////////////////////////////////////*/

.add-car {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    font-family: Quicksand;
}

/*////////////////////////////////View-Cars/////////////////////////////////////////////////*/

.view-cars {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    display: none;
    overflow-x: scroll;
    overflow-y: scroll;
    position: absolute;
    top: 136px;
    left: 63px;
}

#tblViewCars img:hover{
    transform: scale(1.5);
}

/*////////////////////////////////Edit-Cars/////////////////////////////////////////////////*/


.edit-cars {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 145px;
    left: 65px;
}

#tblEditCars img:hover{
    transform: scale(1.5);
}



/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////View-Customers/////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/


#tblViewCustomers img:hover{
    transform: scale(1.5);
}

.view-customers-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    display: none;
    overflow-x: scroll;
    overflow-y: scroll;
    position: absolute;
    top: 136px;
    left: 263px;
}


/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// Income /////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.d-income{
    width: 334px;
    height: 222px;
    border-radius: 40px;
    background: #0f6674;
    position: absolute;
    top: 58px;
    left: 142px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.w-income{
    width: 334px;
    height: 222px;
    border-radius: 40px;
    background: #0f6674;
    position: absolute;
    top: 58px;
    left: 790px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.m-income{
    width: 334px;
    height: 222px;
    border-radius: 40px;
    background: #0f6674;
    position: absolute;
    top: 357px;
    left: 142px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.y-income{
    width: 334px;
    height: 222px;
    border-radius: 40px;
    background: #0f6674;
    position: absolute;
    top: 357px;
    left: 790px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
    cursor: pointer;
}


.d-income>div>img{
    width: 73px;
    position: absolute;
    top: 5px;
    left: 133px;
}

.d-income>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.d-income>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 163px;
    left: 80px;
    font-size: 30px;
}

.w-income>div>img{
    width: 73px;
    position: absolute;
    top: 5px;
    left: 133px;
}

.w-income>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.w-income>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 163px;
    left: 62px;
    font-size: 30px;
}

.m-income>div>img{
    width: 73px;
    position: absolute;
    top: 5px;
    left: 133px;
}

.m-income>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.m-income>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 163px;
    left: 52px;
    font-size: 30px;
}

.y-income>div>img{
    width: 73px;
    position: absolute;
    top: 5px;
    left: 133px;
}

.y-income>h1{
    position: absolute;
    top: 75px;
    left: 88px;
    font-family: Quicksand;
    color: white;
}

.y-income>p{
    color: white;
    font-family: Quicksand;
    position: absolute;
    top: 163px;
    left: 73px;
    font-size: 30px;
}

.sec{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: gainsboro;
    position: absolute;
    top: 180px;
    left: 485px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);

}

.sec-1{
    flex: 1 1 50%;
    padding-bottom: 3rem;
    position: absolute;
    top: 227px;
    left: 536px;
}

.neumorphic{
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    font-size: 5rem;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
}

.neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.variation2 {
    justify-content: space-around;
    align-items: center;
}

.variation2.pressed {
    color: #5ab9ea;
}

.animez{
    position: absolute;
    top: 246px;
    left: 555px;
    border-radius: 40px;
    width: 163px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// Rental /////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/


.rental-container-header {
    width: 1185px;
    background-color: gainsboro;
    height: 100px;
    position: absolute;
    right: -30px;
    top: 11px;
    left: 22px;
    margin: auto;
    border-radius: 4px;
    z-index: 0;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);

}

.btnrequests{
    width: 148px;
    height: 63px;
    border: none;
    color: white;
    background-color:#249876;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #313131;
    transition: ease-out 0.3s;
    font-size: 19px;
    font-family: Quicksand;
    /* font-weight: bold; */
    outline: none;
    position: absolute;
    top: 9px;
    left: 17px;
}

.btnrequests:hover{
    box-shadow: inset 150px 0 0 0 #313131;
    cursor: pointer;
    color:#249876;
}

.btnc-driver{
    width: 196px;
    height: 63px;
    border: none;
    color: white;
    background-color:#249876;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #313131;
    transition: ease-out 0.3s;
    font-size: 19px;
    font-family: Quicksand;
    /* font-weight: bold; */
    outline: none;
    position: absolute;
    top: 9px;
    left: 185px;
}

.btnc-driver:hover{
    box-shadow: inset 150px 0 0 0 #313131;
    cursor: pointer;
    color:#249876;
}

.btnpayments{
    width: 135px;
    height: 63px;
    border: none;
    color: white;
    background-color:#249876;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #313131;
    transition: ease-out 0.3s;
    font-size: 19px;
    font-family: Quicksand;
    /* font-weight: bold; */
    outline: none;
    position: absolute;
    top: 9px;
    left: 370px;
}

.btnpayments:hover{
    box-shadow: inset 150px 0 0 0 #313131;
    cursor: pointer;
    color:#249876;
}

/*////////////////////////////////View-Rentals/////////////////////////////////////////////////*/

.view-rentals {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 117px;
    left: 64px;
}

/*////////////////////////////////Change-Driver/////////////////////////////////////////////////*/

.change-driver {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    display: none;
}

.tbl-driver-replacements-container > div {
    display: none;
}

#btnReplace {
    display: none;
}

/*////////////////////////////////Calculate-Payment/////////////////////////////////////////////////*/


.calculate-payment {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    display: none;
    top: 112px;
    left: 65px;
}

.calculate-payment > div:nth-child(1) {
    height: 250px;
    overflow-y: scroll;
}

.calculate-payment > div:nth-child(2) {
    height: 170px;
    width: 1000px;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    bottom: 0;
}


.calculate-payment > button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 175px;
}

#additionalPaymentContainer {
    position: absolute;
    right: 10px;
    bottom: 40px;
}

#additionalPaymentContainer > input {
    width: 175px;
}

#spnEnterMsg {
    opacity: 0;
}


